/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 30.12.2023, 19:35:07
    Author     : cwallukat
*/


#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#divMapContainer {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



